<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>ジャンル詳細</title>
	<link rel="stylesheet" href="genre.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway|Varela+Round" rel="stylesheet">
	<link rel="shortcut icon" href="img/favicon.ico">
</head>
<body>
	<section id="portfolio">
		<div class="container">
			<h2 class="heading">ロック一覧</h2>
			<div class="production-group clearfix">
				<div class="production-content">
					<img src="img/logo.png" class="production">
					<p>シングル/アルバム名</p>
					<p>アーティスト名</p>
				</div>
				<div class="production-content">
					<div class="production bg-1"></div>
					<p>シングル/アルバム名</p>
					<p>アーティスト名</p>
				</div>
				<div class="production-content">
					<div class="production bg-2"></div>
					<p>シングル/アルバム名</p>
					<p>アーティスト名</p>
				</div>
				<div class="production-content">
					<div class="production bg-3"></div>
					<p>シングル/アルバム名</p>
					<p>アーティスト名</p>
				</div>
				<div class="production-content">
					<div class="production bg-4"></div>
					<p>シングル/アルバム名</p>
					<p>アーティスト名</p>
				</div>
				<div class="production-content">
					<div class="production bg-5"></div>
					<p>シングル/アルバム名</p>
					<p>アーティスト名</p>
				</div>
				<div class="production-content">
					<div class="production bg-6"></div>
					<p>シングル/アルバム名</p>
					<p>アーティスト名</p>
				</div>
				<div class="production-content">
					<img src="img/code.png" class="production">
					<p>シングル/アルバム名</p>
					<p>アーティスト名</p>
				</div>
				<div class="production-content">
					<img src="img/favicon.ico" class="production">
					<p>シングル/アルバム名</p>
					<p>アーティスト名</p>
				</div>
				<div class="production-content">
					<img src="img/mv.png" class="production">
					<p>シングル/アルバム名</p>
					<p>アーティスト名</p>
				</div>
				<div class="production-content">
					<img src="img/my-icon.jpg" class="production">
					<p>シングル/アルバム名</p>
					<p>アーティスト名</p>
				</div>
				<div class="production-content">
					<img src="img/sketch.jpg" class="production">
					<p>シングル/アルバム名</p>
					<p>アーティスト名</p>
				</div>
			</div>
		</div>
	</section>
</body>