<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>商品詳細画面</title>
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway|Varela+Round" rel="stylesheet">
	<link rel="shortcut icon" href="img/favicon.ico">
</head>
<body>
	<section id="show">
		<div class="left-content">
			<div class="content-item">
				<img src="img/my-icon.jpg" class="show-image">
				<p>ジャンル</p>
				<p>レーベル名</p>
				<div class="btn-group">
					<a href="#" class="square_btn">カートに入れる</a>
				</div>
			</div>
		</div>
		<div class="right-content">
			<div class="content-item clearfix">
				<div class="show-title clearfix">
					<div class="left-item">
						<h1>シングル/アルバム名</h1>
						<p>アーティスト名</p>
					</div>
					<div class="right-item">
						<p>値段</p>
						<p>在庫数</p>
						<p>カートに入れる</p>
					</div>
				</div>
				<p><br></p>
				<table>
					<thead>
						<tr>
							<th>曲名</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1.</td>
							<td>タイトル</td>
						</tr>
						<tr>
							<td>2.</td>
							<td>タイトル</td>
						</tr>
						<tr>
							<td>3.</td>
							<td>タイトル</td>
						</tr>
						<tr>
							<td>4.</td>
							<td>タイトル</td>
						</tr>
						<tr>
							<td>5.</td>
							<td>タイトル</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>