<body class="cart-background">
	<section id="cart">
		<h1 class="topic">カートの中身</h1>
		<p><br><br></p>
		<div>
			<table class="cart-item">
				<thead>
					<tr>
						<th class="table-item"></th>
						<th class="table-item">商品名</th>
						<th class="table-item">アーティスト名</th>
						<th class="table-item">金額</th>
						<th class="table-item">数量</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="table-item"><img src="img/my-icon.jpg" class="cart-image"></td>
						<td class="table-item">商品名</td>
						<td class="table-item">アーティスト名</td>
						<td class="table-item">金額</td>
						<td class="table-item">数量</td>
					</tr>
					<tr>
						<td class="table-item"><img src="img/my-icon.jpg" class="cart-image"></td>
						<td class="table-item">商品名</td>
						<td class="table-item">アーティスト名</td>
						<td class="table-item">金額</td>
						<td class="table-item">数量</td>
					</tr>
					<tr>
						<td class="table-item"><img src="img/my-icon.jpg" class="cart-image"></td>
						<td class="table-item">商品名</td>
						<td class="table-item">アーティスト名</td>
						<td class="table-item">金額</td>
						<td class="table-item">数量</td>
					</tr>
					<tr>
						<td class="table-item"><img src="img/my-icon.jpg" class="cart-image"></td>
						<td class="table-item">商品名</td>
						<td class="table-item">アーティスト名</td>
						<td class="table-item">金額</td>
						<td class="table-item">数量</td>
					</tr>
				</tbody>
			</table>
			<h3 class="sum">合計金額：6000円</h3>
			<div class="btn-group">
				<a href="#" class="square_btn">購入手続きへ</a>
			</div>
		</div>
	</section>
</body>