/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.release-image {
	width: 300px;
	float: left;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
a {
	text-decoration: none;
}


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
	position: relative;
	width: 100%;
	padding: 15px 0;
	margin: 0 auto;
	text-align: center;
	background-color: black;
}
header .headline{
	font-size: 32px;
}
.nav-list {
	text-align: center;
	padding: 10px 0;
	margin: 0 auto;
}
.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}
main {
	width: 90%;
	margin: 0 auto;
	padding: 70px 0;
}
.sidebar {
    width: 35%;
    float: left;
}
.sidebar-headline, .product-headline {
	text-align: center;
}
.new-form {
	width: 90%;
	margin: 0 auto;
}
.contact-form {
  padding: 10px;
  font-size: 16px;
  margin: 0 auto;
  width: 85%;
}
.contact-form .item {
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
}
.contact-form .item.no-label {
  padding: 5px 0px 5px 60px;
}
.contact-form .item .label {
  float: left;
  padding: 5px;
  margin:0;
}
.contact-form .item input[type=text],
.contact-form .item input[type=email] {
  display: block;
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 13px;
  float: left;
}
input[type=submit] {
  border: none;
  outline: none;
  display: block;
  line-height: 30px;
  width: 160px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  background-color: black;
  border-bottom: 4px solid gray;
  cursor:pointer;
  box-sizing: content-box;
  transition:0.1s ease all;
  margin: 20px auto;
}
input[type=submit]:hover{
  opacity:0.6;
}
.product {
    width: 65%;
    float: left;
}
.product-box {
    padding-top: 50px;
    width: 70%;
    margin: 0 auto;
}
.product-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f7f7f7;
}
.product-image {
	width: 300px;
	float: left;
}
.product-text {
    float: left;
    padding: 0 0 0 25px;
}
.pagination {
	text-align: center;
	padding-top: 50px
}
.pagination p {
	height: 30px;
	width: 30px;
	display: inline-block;
	color: white;
	background-color: black;
	border-radius: 3px;
	margin: 0 5px;
	line-height: 30px;
}
.user {
    width: 90%;
    margin: 0 auto;
}
.user-info {
	width: 500px;
	height: 350px;
  float: left;
}
.user-image {
	  height: 100%;
    width: 350px;
    border-radius: 50%;
    margin: 0 auto;
}
.product-edit-form{
		width: 50%;
    margin: 0 auto;
    border: 1px solid #ccc;
}
.sold-item {
	width: 50%;
	margin: 100px auto;

}
.form-style {
	width: 50%;
	margin: 0 auto;

}
.new-admin {
	width: 80%;
	margin: 0 auto;
}
.form-item{
	  width: 60%;
    display: block;
    margin: 20px auto;
}
.input-style {
	    width: 50%;
    padding: 2.5px 1px;
}
.admin-info {
	width: 50%;
	margin: 0 auto;
}
.admin-image {
	height: 100%;
    width: 350px;
    border-radius: 50%;
    margin: 0 auto;
}
.admin-text{
	margin: 0 auto;
}
.admin-info-image{
	margin: 0 auto;
	width: 350px;
}
footer {
	text-align: center;
	padding: 50px 0;
	background-color: black;
}
.footer-text, .nav-text,.header-text {
	color: white;
}

.slide{
  list-style-type: none!important;
  overflow: hidden;
  background-color:black;
  box-shadow: 0 2px 5px #999;
  /*padding:10px 0!important;*/
  width: 100%;
  height:200px;
  margin-left:0!important;
  margin-top:2em!important;
  margin-bottom:2em!important;
  zoom: 1;
}


.slide li{
  float:left;
  margin-left:17px;
}


.slide:before,
.slide:after{
    content: " ";
    display: table;
}
 

.slide:after{
    clear: both;
}
