// Place all the styles related to the cds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.icon{
	color: white;
	font-size: 50px;
	margin: 15px 0 0 40px;
	float: left;
}
.kensaku{
	width:640px;
	height:50px;
	background-color: white;
	border-radius: 20px;
	margin:15px 0 0 150px;
	float:left;
	line-height: 50px;
	color:gray;
}
.login-signup{
	height:50px;
	margin:15px 100px 0 0;
	float:right;
}
.lo-si{
	display:inline-block;
	line-height: 50px;
	color: white;
	margin-left: 70px;
}
.kon{
float:right;
margin:35px 50px 0 0;
color:white;

}
.cart{
	font-size: 75px;
	margin: 15px 80px 0 0;
	float:right;
}
.usericon,  .name{
	display: inline-block;
	font-size: 20px;
}
.usericon{
	color:gray;
}


.container{
	width: 90%;
	margin: 0 auto;
}

.heading{
	padding-top: 90px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
}

.heading::after{
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	margin: 8px auto 0 auto;
	background-color: #EC715F;
}

.heading-text{
	padding-top: 30px;
	text-align: center;
	font-size: 16px;
}

.production-group{
	width: 1090px;
	padding: 30px 0 90px 0;
	margin: 0 auto;
}

.production-content{
	width: 250px;
	height: 300px;
	margin: 10px 30px 30px 0;
	float: left;
}

.production{
	/*float: left;*/
	width: 250px;
	height: 250px;
	/*margin: 10px 20px 0 0;*/
	background-size: cover;
	background-position: center;
	border-radius: 5px;
}

/*.production:nth-child(-n+3){
	margin-top: 0;
}*/

.production-content:nth-child(4n){
	margin-right: 0;
}

#show{
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
}
.left-content{
	padding-top: 30px;
	/*height: 1000px;*/
	/*background-color: red;*/
}
.content-item{
	width: 90%;
	margin: 0 auto;
}
.show-image{
	width: 300px;
	height: 300px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.right-content{
	padding-top: 50px;
	/*height: 1000px;*/
	/*background-color: blue;*/
}
.left-item{
	float:left;
}
.right-item{
	float: right;
	margin-top: 20px;
}
dd {
	margin-top: 15px;
	font-size: 20px;
}
.song-list {
	margin-top:10px;
	list-style: none;
}
.cd-content {
	margin: 5px 0 10px 0;
}
.topic{
   border-bottom: 1px solid black;
   font-size: 32px;
   width: 75%;
   margin: 0 auto;
   padding-top: 50px;
}
.cart-item{
	width: 90%;
	margin: 0 auto;
}
.table-item{
	width: 20%;
	text-align: center;
	padding-bottom: 20px;
}
.cart{
	width: 100%;
}
.sum{
	text-align: right;
	padding-right: 50px;
}
.btn-group{
	width: 80%;
	margin: 0 auto;
	padding-top: 24px
}
.cd-info{
	width: 15%;
	text-align: center;
	padding-bottom: 20px;
}
.btn-container{
	text-align: center;
	padding-top: 10px;
}
.btn-color{
	background-color: gainsboro;
}
.back{
	text-align: center;
	padding-top: 10px;
}
.cd-image{
	width: 250px;
	height: 250px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.show{
	padding-top: 50px;
}
.cd-group{
	width: 90%;
	margin: 0 auto;
}
.return{
	text-decoration: underline;
}
.cd-table{
	margin-top: 10px;
}
.submit-btn{
	width: 100%;
}
td{
	padding-bottom: 10px;
}