<div class="ui menu" >
	<a class="active item">
		J-POP
	</a>
	<a class="active item">
		JAZZ
	</a>
	<a class="active item">
		ROCK
	</a>
	<a class="active item">
		EDM
	</a>
	<div class="center menu">
		<div class="ui action left icon input">
			<i class="search">
			</i>
			<input type="text" placeholder="Search">
			<button class="ui button">Submit</button>
		</div>
	</div>
</div>